<div class="info-wrapper">
  <h3 class="info-wrapper__title">{{ 'QUESTION_PAGE.INFO_PAGE.TITLE' | translate }}</h3>

  <div class="fx align-center fx-wrap justify-content-between info-wrapper__routes">
    <vtm-button-route class="margin-left-2" [label]="'Придбати поліс'"></vtm-button-route>
    <vtm-button-route class="margin-right-2" [label]="'Переглянути мої страховки'"></vtm-button-route>
    <vtm-button-route class="margin-top-3 margin-left-2" [label]="'Дізнатись більше про сервіс'"></vtm-button-route>
    <vtm-button-route class="margin-top-3 margin-right-2" [label]="'Подати заявку'"></vtm-button-route>
  </div>
</div>
