<div class="page-insured">
    <div class="title-h2-data-box margin-bottom-3">
        <h2 class="title-h2-data">Введіть будь-ласка дані страхувальника</h2>
    </div>
    <div class="title-h3-polis">
        <img src="assets/images/share_img/Alert.svg" alt="">
        <p>Будь-ласка заповнюйте поля українською </p>
    </div>
    <h2 class="contact-info">Контактна інформація</h2>
    <div>
        <form>
                <div class="flex-wrapper">
                    <vtm-input-control style="width:355px" label="ПІБ"></vtm-input-control>
                    <vtm-input-control style="width:150px" label="Дата народження"></vtm-input-control>
                    <vtm-input-control style="width:199px" label="Телефон"></vtm-input-control>
                    <vtm-input-control style="width:302px" label="E-mail"></vtm-input-control>
                </div>
                <h2 class="contact-info">Паспортні дані</h2>
                <div class="checkbox-box">
                    sdasd
                    <button></button>
                    <button></button>
                    <button></button>
                </div>
                <div class="flex-wrapper">
                    <vtm-input-control label="Серія і номер" style="width:150px"></vtm-input-control>
                    <vtm-input-control label="Дата видачі" style="width:150px"></vtm-input-control>
                    <vtm-input-control label="Ким виданий" style="width:100%"></vtm-input-control>
                    <vtm-input-control label="ІПН" style="width:189px"></vtm-input-control>
                </div>
                <h2 class="contact-info">Відомості про реєстрацію</h2>
                <div class="flex-wrapper">
                    <vtm-input-control label="Місто" style="width:100%"></vtm-input-control>
                    <vtm-input-control label="Вулиця" style="width:280px"></vtm-input-control>
                    <vtm-input-control label="Будинок" style="width:73px"></vtm-input-control>
                    <vtm-input-control label="Квартира" style="width:96px"></vtm-input-control>
                </div>
                <div class="box-btn">
                    <button class="btn-form">Продовжити</button>
                </div>
        </form>
    </div>
</div>