<div class="page-insured">
    <div class="title-h2-data-box margin-bottom-3">
        <h2 class="title-h2-data">Введіть будь-ласка дані страхувальника</h2>
    </div>
    <div class="title-h3-polis">
        <img src="assets/images/share_img/Alert.svg" alt="">
        <p>Будь-ласка заповнюйте поля українською </p>
    </div>
    <h2 class="contact-info">Контактна інформація</h2>
    <div>
        <form>
                <div class="flex-wrapper">
                    <vtm-input-control label="ПІБ"></vtm-input-control>
                    <vtm-input-control label="Дата народження"></vtm-input-control>
                    <vtm-input-control label="Телефон"></vtm-input-control>
                    <vtm-input-control label="E-mail"></vtm-input-control>
                </div>
                <h2 class="contact-info">Паспортні дані</h2>
                <div class="checkbox-box">
                    sdasd
                    <button></button>
                    <button></button>
                    <button></button>
                </div>
                <div class="flex-wrapper">
                    <vtm-input-control label="Серія і номер"></vtm-input-control>
                    <vtm-input-control label="Дата видачі"></vtm-input-control>
                    <vtm-input-control label="Ким виданий"></vtm-input-control>
                    <vtm-input-control label="ІПН"></vtm-input-control>
                </div>
                <h2 class="contact-info">Відомості про реєстрацію</h2>
                <div class="flex-wrapper">
                    <vtm-input-control label="Місто"></vtm-input-control>
                    <vtm-input-control label="Вулиця"></vtm-input-control>
                    <vtm-input-control label="Будинок"></vtm-input-control>
                    <vtm-input-control label="Квартира"></vtm-input-control>
                </div>
                <div class="box-btn">
                    <button class="btn-form">Продовжити</button>
                </div>
        </form> 
    </div>
</div>