<div class="page-begin-polis">
    <p class="title-p"> Ми зробили процес придбання поліса максимально зручним для Вас, всю можливу інформацію ми будемо брати із державних реєстрів.</p>
    <div class="title-h3-polis">
        <img src="assets/images/share_img/Alert.svg" alt="">
        <p>Наразі можливо отримати страхування тільки для 🚗 ЛЕГКОВИХ автомобілів. </p>
    </div>
    <h2>Введіть державний номер авто</h2>
    <h2>Введіть державний номер авто</h2>
    <div>

    </div>
    <ul class="box-gren-transparent flex-box">
        <li>
            <div>
                <h4>VIN</h4>
                <p>WBA3B9C5XDF586032</p>
            </div>
            <div>
                <h4>Марка</h4>
                <p>BMW</p>
            </div>
        </li>
        <li>
            <div>
                <h4>Модель</h4>
                <p>335XI xDrive XLT 30e Twin Power Turbo</p>
            </div>
        </li>
        <li>
            <div>
                <h4>Рік випуску</h4>
                <p>2012</p>
            </div>
            <div>
                <h4>Об’єм двигуна</h4>
                <p>2993</p>
            </div>
            <div>
                <h4>Тип</h4>
                <p>B3</p>
            </div>
        </li>
        <li>
            <div>
                <h4>Держномер</h4>
                <p>АА3443ВВ</p>
            </div>
            <div>
                <h4>Адреса реєстрації</h4>
                <p>М.КИЇВ ОБОЛОНСЬКИЙ</p>
            </div>
        </li>
    </ul>
    <div class="btn-box">
        <vtm-button routerLink="uncorrect-data" label="Дані невірні, ввести вручну" type="secondary"></vtm-button>
        <vtm-button routerLink="data-insuranse" label="Все вірно, продовжити" type="primary"></vtm-button>
    </div>
</div>