//mb refactor here
.bold-raleway {
    font-weight: 700;
    font-family:'Raleway', sans-serif;
}

.semibold-raleway {
    font-weight: 600;
    font-family:'Raleway', sans-serif;
}

.regular-raleway {
    font-weight: 400;
    font-family:'Raleway', sans-serif;
}

.open-sans {
    font-weight: 400;
    font-family:'Open-Sans', sans-serif;
}