.container{
    max-width: 1200px;
    margin: auto;
}
.small-container{
    width: 794px;
    margin: auto;
        @include desktop_query{
        width: 765px;
    }
    @include phone_query{
        width: 100%;
    }
}
.back-btn{
    color: $primary-orange-light ;
    background-color:$primary-orange-transparent ;
    
    font-weight: 700;
    font-size: 16px;

    margin: 10px 0;
    padding: 15px;
    border-radius: 16px;
    border: none;

    cursor: pointer;
}
.h1-blue{
    color: $blue-dark;
}
.h1-black{
    color: $blue-dark;
}
.title-black-h3 { 
    font-size: 28px;
    line-height: 33px;
    color: #000000; 
}   
.btn-drop-list{
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 120%;
  
    background-color: $backGround-white;
    color:black;
  
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 24px rgba(114, 121, 197, 0.5);
  
    transition: 0.2s ease;
    cursor: pointer;

    h3{
        margin: 0;
    }
}
.info{
    opacity: 0;
    font-family: 'Open Sans';
    line-height: 140%;
    height: 0px;
    transition: 0.15s ease;
    overflow: hidden;
}
.title-btn{
    padding: 20px;
    transition: 0.15s ease;
    border-radius: 10px;
    &:hover {
        background-color: $primary-gren-light;
        color:white;
    }
    &:active{
        border-radius: 10px 10px 0 0;
    }
}
.title-h3-polis{
    width: 100%;
    background-color: $primary-orange-transparent;
    padding: 1px;
    border-radius: 10px;
}
.box-gren-polis{
    background-color: $primary-gren-transparent;
    padding: 20px;
    border-radius: 10px;
}

.btn-form {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    width: 100%;
  // width: 288px;
    padding: 14px;
    border: none;
    border-radius: 16px;
    color: $backGround-white;
    background-color: $primary-orange-light;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(123, 123, 126, 0.3);

    transition: 0.2s ease;
    cursor: pointer;
    &:disabled{
        cursor: auto;
    }

}
.box-gren-transparent{
    background-color: $primary-gren-transparent;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    font-style: normal;
    font-family: 'Open Sans';
    line-height: 140%;
    font-size: 16px;
    h4{
        font-weight: 700;
        text-transform: uppercase;
        color: #050505;
        opacity: 0.5;
        margin: 0;
    }
    p{
        margin: 0;
        font-weight: 400;
    }
}
.open {
    height: 100%;
    opacity: 1;
    padding: 15px;
    border-top: 1px solid $primary-gren-light;
}