<div class="info-wrapper">
  <h3 class="info-wrapper__title">{{ 'QUESTION_PAGE.INSURANCE_PAGE.TITLE'| translate }}</h3>
    <ul class="info-wrapper__list-question">
      <li> 
        <button vtmExpansion>{{'QUESTION_PAGE.INSURANCE_PAGE.BUTTONS.WHAT-IS-IT'| translate }}</button>
        <div class="info-dropdown">
          {{'QUESTION_PAGE.INSURANCE_PAGE.TEXT.WHAT-IS-IT'| translate }}     
        </div>
      </li>
      <li> 
        <button vtmExpansion>{{'QUESTION_PAGE.INSURANCE_PAGE.BUTTONS.PRICE'| translate }}</button>
        <div class="info-dropdown">
          {{'QUESTION_PAGE.INSURANCE_PAGE.TEXT.WHAT-IS-IT'| translate }}        
        </div>
      </li>
      <li> 
        <button vtmExpansion>{{'QUESTION_PAGE.INSURANCE_PAGE.BUTTONS.PAYMENT'| translate }}</button>
        <div class="info-dropdown">
          {{'QUESTION_PAGE.INSURANCE_PAGE.TEXT.WHAT-IS-IT'| translate }}
        </div>
      </li>
      <li> 
        <button vtmExpansion>{{'QUESTION_PAGE.INSURANCE_PAGE.BUTTONS.AVTOCIVILKA-POLICY'| translate }}</button>
        <div class="info-dropdown">
          {{'QUESTION_PAGE.INSURANCE_PAGE.TEXT.WHAT-IS-IT'| translate }}
        </div>
      </li>
    </ul>
</div>
