@import 'src/styles/index.scss';
.page-uncorrect-data{
    display: flex;//uncorect width in examples
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    @include phone_query{
        padding: 0 20px;
    }
    .title-h3-polis{
        display: flex;
        align-items: center;
        img{
            margin: 0 10px;
        }
    }
    .btn-box{
        width: 386px;
        margin: auto;
        @include phone_query{
            width: 100%;
        }
    }
    form{
        width: 100%;
        margin: 20px 0;
        .flex-box-input{
            display:flex;
            gap: 15px;
            justify-content: space-between;
            @include phone_query{
                display: flex;
                flex-direction: column;
            }
            vtm-input-control{
                width: 100%;
            }
            .btn-form{
                &:disabled{
                    background-color: red;
                    // cursor: none;
                }
            }
        }
    }
    .invalid-alert{
        text-align: center;
    }
}