<footer class="footer">
  <div class="fx align-items-start justify-content-between footer__container">
    <div class="fx fx-column footer__list-header">
      <img class="logo_orange" src="/assets/images/layout/logo-orange.svg" alt="logo-orange">

      <div class="footer__item">{{ 'FOOTER.SOCIAL_LINK' | translate }}</div>
      <div class="fx footer__item">
        <mat-icon svgIcon="facebook"></mat-icon>
        <mat-icon svgIcon="youtube"></mat-icon>
        <mat-icon svgIcon="instagram"></mat-icon>
      </div>
    </div>

    <div class="fx fx-column footer__list-header">
      {{ 'FOOTER.ABOUT_COMPANY.TITLE' | translate }}

      <div class="footer__item">{{ 'FOOTER.ABOUT_COMPANY.PRODUCT' | translate }}</div>
      <div class="footer__item">{{ 'FOOTER.ABOUT_COMPANY.HOW_WORK' | translate }}</div>
    </div>


    <div class="fx fx-column footer__list-header">
      {{ 'FOOTER.CONFIDENCE.TITLE' | translate }}

      <div class="footer__item">{{ 'FOOTER.CONFIDENCE.PARTNERS' | translate }}</div>
      <div class="footer__item">{{ 'FOOTER.CONFIDENCE.REVIEWS' | translate }}</div>
      <div class="footer__item">{{ 'FOOTER.CONFIDENCE.BLOG' | translate }}</div>
    </div>

    <div class="fx fx-column footer__list-header">
      {{ 'FOOTER.CONTACTS.TITLE' | translate }}

      <div class="footer__item">{{ 'FOOTER.CONTACTS.SUPPORT' | translate }}</div>
      <div class="footer__item">0800 325 25 36</div>
    </div>

    <div class="fx fx-column footer__list-header">
      {{ 'FOOTER.FEEDBACK.TITLE' | translate }}
    </div>

  </div>
</footer>
