<div class="wraper-question small-container">
        <h3 class="title-main_h3 bold-Raleway margin-bottom-4">Будь ласка, оберіть тему вашого запиту</h3>
        <div class="box-btn">
            <vtm-gren-standart-btn routerLink="sivilka" label="Бiльше про автоцивілку"></vtm-gren-standart-btn>
            <vtm-gren-standart-btn label="Про систему прямого врегулювання"></vtm-gren-standart-btn>
            <vtm-gren-standart-btn label="Про ДТП"></vtm-gren-standart-btn>
            <vtm-gren-standart-btn label="Де я куплю поліс"></vtm-gren-standart-btn>
        </div>
        <div class="btn-drop-list">
            <div clickOitside class="title-btn"><h3 class="semibold-raleway">Інші питання</h3></div>
            <ul class="info">
                <li>
                    <h4 class="bold-open-sans">Як правильно укласти поліс, якщо моїм авто користуються члени моєї родини?</h4>
                    <p>
                        Як правильно укласти поліс, якщо моїм авто користуються члени моєї родини? Поліс Автоцивілки діє на будь-якого водія, який сідає за кермо Вашого автомобіля. Тому Ви можете не хвилюватись і дозволяти керувати своїм авто Вашим рідним і близьким, головне – щоб водій мав законні підстави для керування автомобілем (мати при собі посвідчення водія відповідної категорії та техпаспорт на авто).
                    </p>
                </li>
                <li>
                    <h4 class="bold-open-sans">На який строк я можу оформити поліс? </h4>
                    <p>В нашому чат-боті Ви пожете оформити поліс Автоцивілки на 1 рік.</p>
                </li>
                <li>
                    <h4 class="bold-open-sans"> Чи можу я застрахувати Автоцивілку, якщо я не є власником авто?</h4>
                    <p> 
                        Так, це можливо. При цьому Ви повинні мати всю необхідну для оформлення полісу інформацію як по авто, так і по його власнику.
                        При зміні державного номера автомобіля Ваш поліс продовжує діяти до закінчення його строку.
                        Але при бажанні Ви можете звернутись до страхової компанії UNIVERSALNA за номером 0-800-500-381 щодо переоформлення полісу.
                    </p>
                </li>
                <li>
                    <h4 class="bold-open-sans"> Чи діє поліс Автоцивілки при зміні номера?</h4>
                    <p>При зміні державного номера автомобіля Ваш поліс продовжує діяти до закінчення його строку.Але при бажанні Ви можете звернутись до страхової компанії UNIVERSALNA за номером 0-800-500-381 щодо переоформлення полісу.</p>
                </li>
            </ul>
        </div>
</div>