<div class="page__main-questions">
    <div class="container container-btn">
        <button  class="back-btn"><img src="/assets/images/main/arow_back.svg" alt="">Назад</button>
    </div>
    <section>
        <div class="container section-main__content-container">
            <h1 class="bold-Raleway title-h1">Вся необхідна інформація </h1>
            <h3 class="title-main_h3 bold-Raleway">Будь ласка, оберіть тему вашого запиту</h3>
            <div class="main__box">
                <vtm-button class="first-btn" [nameQuestion]="'1'"></vtm-button>
                <vtm-button class="second-btn" [nameQuestion]="'2'"></vtm-button>
                <vtm-button class="three-btn" [nameQuestion]="'3'"></vtm-button>
                <vtm-button class="four-btn" [nameQuestion]="'4'"></vtm-button>
                <vtm-button class="last" [nameQuestion]="'last'"></vtm-button>
            </div>
        </div>
    </section>
</div>