<div class="footer">
    <div class="container footer-container">
        <div>
            <img src="assets/images/share_img/logo.svg" alt="">
            <p>Підписуйтесь! Буде цікаво!</p>
            <ul class="list-social">
                <li>
                    <a><img src="assets/images/footer/Facebook.svg" alt=""></a>  
                </li>
                <li>
                    <a><img src="assets/images/footer/Instagram.svg" alt=""></a>
                </li>
                <li>
                    <a><img src="assets/images/footer/YouTube.svg" alt=""></a>
                </li>
            </ul>
        </div>
        <ul class="list-info">
            <h5>Про компанію</h5>
            <li><a>Продукти</a></li>
            <li><a>Як це працює</a></li>
        </ul>
        <ul class="list-info">
            <h5>Нам довіряють</h5>
            <li><a>Партнери</a></li>
            <li><a>Відгуки</a></li>
            <li><a>Блог</a></li>
        </ul>
        <ul class="list-info__contacts">
            <h5>Контакти</h5>
            <li><a href="https://t.me/vitaminisedemobot" class="email-link">t.me/vitaminisedemobot</a></li>
            <li><a href="tel:+380636594805">Служба підтримки:<br> +380 63 659 48 05</a></li>
        </ul>
        <div class="footer__form-letter">
            <p>Надішліть нам листа</p>
            <form class="form" >
                <input placeholder="Вкажіть ваш емейл" type="email">
                <input placeholder="Введіть текст повідомлення" type="text">
                <button class="footer__form-btn">Відправити</button>
            </form>  
        </div>
    </div>
</div>
