@import '/src/styles/index.scss';

a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.footer {
    padding: 50px 0;
    background-color: $blue-many-light;

    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        @include desktop_query {
            padding: 0 10px;
        }
    }
    .list-social {
        display: flex;
        gap: 10px;
    }
    .list-info {
        @include phone_query {
            display: none;
        }
        li {
            margin-bottom:8px;
        }
    }
    .email-link {
            text-decoration: underline;
            color: $primary-gren-dark;
    }
    .form {
        display: flex;
        flex-direction: column;
        width: 300px;
        input {
            width: 100%;
            padding: 10px 0;
            margin: 10px 0;

            border: none;
            border-bottom:1px solid #b6b9f9;
            background-color: transparent;
            outline: none;

            font-family: 'Raleway';
            &::placeholder {
                color: $backGround-dark;
            }
        }
    }
    .footer__form-btn {
        background-color: $primary-gren-dark;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 11px;
        width: 100%;
        gap: 10px;
        border-radius: 10px;
        border: none;
        color:white;
        font-size: 14px;
        line-height: 16px;
    }
}
