$primary-gren-light: #92C84A;
$primary-gren-dark: #6EA438;
$primary-gren-transparent: #F2F9E9;

$primary-orange-light: #FF931E;
$primary-orange-dark: #FC8300;
$primary-orange-transparent: #FFEFDD;

$backGround-white: #FFFFFF;
$backGround-dark: #000000;

$blue-dark: #0F1178;
$blue-some-dark: #282F98;
$blue: #3740AD;
$blue-light: #C2C4E7;
$blue-some-light: #C2C4E7;
$blue-many-light: #E7E8F5;
