<div class="polis-status-wrapper">
    <vtm-button type="link" label="Назад" routerLink="/own-polises">
        <img src="assets/images/share_img/arow_back.svg"alt="arow back"/>
    </vtm-button>
    <h1 class="polis-status-wrapper__title">Вітаємо! Ваш поліс готов</h1>
    <section>
        <div class="polis-status-wrapper__my-info-car">
            <div class="polis-status-wrapper__person-info">
                <p>Іванов-Данченко Іван Миколайович</p>
                <div>
                    <span>21.11.1974</span>,  <span>+38-095-144-33-11</span>,<span> ivan1145@gmail.com</span>
                </div>
                <p>смт. Олександрівка, Вознесенський р-н, Миколаївська обл.</p>
            </div>
            <div class="polis-status-wrapper__car-info">
                <span>BMW</span>
                <span>335XI xDrive XLT 30e Twin Power Turbo</span>
                <span>2012</span>
                <span>АА3443ВВ</span>
            </div>
        </div>
    </section>
    <section>
        <div class="polis-status-wrapper__insurance">
            <img src="assets/images/own-polis/logo-company.png" alt="universalna">
            <h4>{{'POLIS-STATUS_PAGE.AVTOSIVILKA_FROM'|translate}} UNIVERSALNA</h4>
            <ul class="polis-status-wrapper__list-offer">
                <li>{{'POLIS-STATUS_PAGE.COVERAGE_HEALTHY'|translate}}</li>
                <li>{{'POLIS-STATUS_PAGE.COVERAGE_PROPERTY'|translate}}</li>
                <li>{{'POLIS-STATUS_PAGE.COVERAGE_HEALTHY'|translate}}</li>
                <li>{{'POLIS-STATUS_PAGE.ORGANIZATION_HELP'|translate}}</li>
            </ul>
            <h3>{{'POLIS-STATUS_PAGE.ADDITION_SERVICE'|translate}}</h3>
            <ul class="polis-status-wrapper__addition-service">
                <li>Додаткове покриття</li>
                <li>Додаткове покриття</li>
                <li>Додаткове покриття</li>
            </ul>
        </div>
        <div class="polis-status-wrapper__box-btn fx justify-content-betwen fx-gap-10 margin-top-3">
            <vtm-button type="primary" label="{{'POLIS-STATUS_PAGE.SEND-EMAIL'|translate}}"></vtm-button>
            <vtm-button type="secondary" label="{{'POLIS-STATUS_PAGE.LOOK-MTSBY'|translate}}"></vtm-button>
        </div>
        <div class="polis-status-wrapper__check-contract margin-top-5">
            <a>{{'POLIS-STATUS_PAGE.LOOK_CONTRACT'|translate}}</a>
        </div>
    </section>
    <section>
        <div class="polis-status-wrapper__else-info margin-top-3">
            <h2>{{'POLIS-STATUS_PAGE.MORE-INFO'|translate}}</h2>
            <div class="polis-status-wrapper__box-btn-else-info">
                <vtm-button type="primary" label="{{'POLIS-STATUS_PAGE.PERSONAL-ACCOUNT'|translate}}"></vtm-button>
            </div>
        </div>
    </section>
</div>