<div class="wraper-sivilka small-container">
    <h3 class="title-main_h3 bold-Raleway">Будь ласка, оберіть тему вашого запиту</h3>
<ul>
    <li class="btn-drop-list">
        <div clickOitside class="title-btn"><h4>Що це таке?</h4></div>
        <div class="info"><p>Наразі ми пропонуюмо вам поліс Франшиза 2600. Вартість залежить від місця реєстрації власника авто вказаного в техпаспорті, об’єму його двигуна та віку особи на кого плануєте оформлювати поліс.</p></div>
    </li>
    <li class="btn-drop-list">
        <div  clickOitside class="title-btn">           
            <h4>Вартість</h4>
        </div>
        <div class="info"><p>Наразі ми пропонуюмо вам поліс Франшиза 2600. Вартість залежить від місця реєстрації власника авто вказаного в техпаспорті, об’єму його двигуна та віку особи на кого плануєте оформлювати поліс.</p></div>
    </li>
    <li class="btn-drop-list">
        <div clickOitside class="title-btn"><h4>Оплата та отримання</h4></div>
        <div class="info"><p>Наразі ми пропонуюмо вам поліс Франшиза 2600. Вартість залежить від місця реєстрації власника авто вказаного в техпаспорті, об’єму його двигуна та віку особи на кого плануєте оформлювати поліс.</p></div>
    </li>
    <li class="btn-drop-list">
        <div clickOitside class="title-btn"><h4>Які виплати по полісу Автоцивілки?</h4></div>
        <div class="info"><p>Наразі ми пропонуюмо вам поліс Франшиза 2600. Вартість залежить від місця реєстрації власника авто вказаного в техпаспорті, об’єму його двигуна та віку особи на кого плануєте оформлювати поліс.</p></div>
    </li>
</ul>
</div>