<div class="header">
    <div class="container header-container">
        <a><img class="header__logotype" src="../../../../../assets/images/share_img/logo.svg" alt=""></a>
        <nav>
            <ul class="header__list-nav">
                <li><p>Продукти</p></li>
                <li><p>Як це працює</p></li>
                <li><p>Партнери</p></li>
                <li><p>Відгуки</p></li>
                <li><p>Блог</p></li>
                <li><p><span>UA</span>|<span>EN</span></p></li>
            </ul>
        </nav>
        <ul class="header__list-social">
            <!-- <li>{{width}}</li>
            <li>{{height}}</li> -->
            <li><a><img src="../../../../../assets/images/header/instagram.svg" alt="Facebook"></a></li>
            <li><a><img src="../../../../../assets/images/header/instagram.svg" alt="Instagram"></a></li>
            <li><a><img src="../../../../../assets/images/header/instagram.svg" alt="Telegram"></a></li>
            <li><a><img src="../../../../../assets/images/header/instagram.svg" alt="Whats app"></a></li>
        </ul>
    </div>
</div>
