<!-- naming -->
<div class="main-wrapper">

<!--  <div class="bgc-main">-->
<!--    <img class="bgc-main__bgc-wallpaper" src="assets/images/main/background.png" alt="">-->
<!--    <img class="bgc-main__logotype" src="assets/images/main/vitamimize.svg" alt="">-->
<!--  </div>-->

  <section class="section-main__content margin-top-3">
    <div class="container section-main__content-container">

      <h1 class="title-h1 section-main__content__title bold-raleway">
        {{text.whatNeedYou}}
      </h1>

      <h3 class="title-main_h3 bold-Raleway">{{text.greatings}}</h3>

      <div class="main__box">
        <button class="main-button semiBold-Raleway">{{ text.buyCarPolicy }}</button>
        <button class="main-button semiBold-Raleway">{{ text.knowMore }}</button>
        <button class="main-button semiBold-Raleway">{{ text.lookMyinsurances }}</button>
        <button class="main-button semiBold-Raleway">{{ text.sendApplication }}</button>
      </div>
      <vtm-button label="Test" type="primary">Test</vtm-button>
    </div>
  </section>

</div>
