@import '/src/styles';

.main-wrapper {
  min-height: 100vh;

  display: flex;
  @include flex-column-betwen;

  background-color: #F5F5F5;
  background-image: url("~src/assets/images/main/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  
  .container-logotype {
    @include flex-column-center; 
    img {
      max-width: 400px;
    }
    @include phone_query {
      img {
        max-width: 200px;
      }
    }
  }

  .content-container {
    background-color: $backGround-white;

    margin-bottom: 20px;
    padding-bottom:20px ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    @include center-content;
  }

  .main__box {
    width: 794px;
    display: grid;
    gap: 15px;
    @include grid-two-column;

    @include phone_query {
      grid-template-columns: 1fr;
      width: 100%;
      padding: 0 10px;
    }
  }
  .btn-box{
    width: 288px;
  }
}

h1{
  text-align: center;
}