@import '/src/styles/mixins/query.mixin';
@import '/src/styles/variables/color';

.main-wrapper {
  min-height: 100vh;

  display: flex;
  @include flex-column-betwen;

  background-color: #F5F5F5;
  background-image: url("~src/assets/images/main/background.png");
  background-size: 150%;
  background-repeat: no-repeat;

  .container-logotype {
    @include flex-column-center;
    
    img {
      max-width: 400px;
    }

    @include phone_query {
      img {
        max-width: 200px;
      }
    }
  }

  .content-container {
    background-color: $backGround-white;

    margin-bottom: 20px;
    padding-bottom:20px ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    @include center-content;
  }

  .main__box {
    width: 794px;
    display: grid;
    gap: 15px;
    @include grid-two-column;

    @include phone_query {
      grid-template-columns: 1fr;
      width: 100%;
      padding: 0 10px;
    }
  }
}

h1{
  text-align: center;
}

button {
  &.main-button {
    width: 100%;
    font-size: 20px;
    line-height: 120%;

    background-color: $backGround-white;
    color:black;

    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 24px rgba(114, 121, 197, 0.5);

    transition: 0.2s ease;
    cursor: pointer;
    
    &:hover {
      background-color: $primary-gren-light;
      color:white;
    }
    
    &:active {
      background-color: $primary-gren-dark;
    }
  }
}
