@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;500;600;700&display=swap');
@import "styles/index";


html, body, .vtm-app { height: 100%; }
body { margin: 0; font-family: 'Raleway', sans-serif; }

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
}
h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-only($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include flex-core($infix);
  }

  @include media-breakpoint-up($breakpoint) {
    @include flex-core('-gt-#{$breakpoint}');
  }

  @include media-breakpoint-down($breakpoint) {
    @include flex-core('-lt-#{$breakpoint}');
  }
}
