@mixin center-content {
  justify-content: center;
  align-items: center;
}
@mixin flex-column-betwen{
  flex-direction: column;
  justify-content: space-between;
}
@mixin flex-column-center{
  display: flex;
  justify-content: center;
}
@mixin grid-two-column {
  grid-template-columns: 1fr 1fr;
}

@mixin desktop_query {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin phone_query {
  @media (max-width: 765px) {
    @content;
  }
}



@mixin question-mark($height, $width, $top, $bottom) {
  &::before{
    position: absolute;
    content: url('~src/assets/images/share_img/question-mark.svg');
    width: $height;
    height: $width;
    top:$top;
    left: $bottom;
  }
}